<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Automation tests">
    <listeners>
        <listener class-name="Listener.MyListener"></listener>
    </listeners>
    <test name = "MyTests">

        <classes>
            <class name="testCases.InputFormTest"/>
            <class name="testCases.AlertTests"></class>
        </classes>
    </test> <!-- Test -->


</suite> <!-- Suite -->